# Backend configuration (server/.env)
PORT=5000
MONGODB_URI=mongodb+srv://pavan:xlSilyqIQplpuLPQ@cluster0.jxwmoeo.mongodb.net/college_event_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=college_event_portal_jwt_secret_key_2026_super_secure
ADMIN_NAME=Pavan
ADMIN_EMAIL=pavan@gmail.com
ADMIN_PASSWORD=pavan123

# Frontend configuration (client/.env)
VITE_API_URL=http://localhost:5000/api
